.register-page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 4rem);
}

.register-card {
	background-color: #1a1a1a;
	border-radius: 0.5rem;
	padding: 2rem;
	width: 100%;
	max-width: 35rem;
	text-align: center;
}

.register-form {
	margin-top: 1rem;
}

.register-logo {
	max-height: 2.5rem;
}

.create-link {
	color: white;
	text-decoration: none;
	margin-left: 0.5rem;
	font-weight: bold;
}

.form-field {
	margin-bottom: 1.5rem;
	text-align: left;
}

.form-field label {
	display: block;
	color: white;
	margin-bottom: 0.5rem;
}

.account-prompt {
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: #cccccc;
}

:host ::ng-deep .p-inputtext {
	width: 100%;
	background-color: #242424;
	color: white;
	border: 1px solid #333;
}

:host ::ng-deep .p-button {
	width: 100%;
	background-color: white;
	border: #0d0d0d;
}

:host ::ng-deep .p-button:hover {
	background-color: #a3a3a3;
	border: #0d0d0d;
}

:host ::ng-deep .p-button:disabled {
	background-color: #4d4d4d;
	color: #8c8c8c;
}

:host ::ng-deep .p-button:disabled:hover {
	background-color: #4d4d4d;
	border: none;
}
