<div class="register-page">
	<div class="register-card">
		<a [routerLink]="['/']">
			<img
				src="assets/logo/cadence_light_full.png"
				alt="Logo"
				class="register-logo"
			/>
		</a>
		<form
			class="register-form"
			[formGroup]="registerForm"
			(ngSubmit)="onSubmit()"
		>
			<div class="form-field">
				<label for="email">Email</label>
				<input
					id="email"
					formControlName="email"
					type="text"
					pInputText
				/>
				<small
					*ngIf="
						registerForm.get('email')?.invalid &&
						registerForm.get('email')?.touched
					"
					class="p-error"
				>
					<span
						*ngIf="registerForm.get('email')?.errors?.['required']"
						>Email is required.</span
					>
					<span *ngIf="registerForm.get('email')?.errors?.['email']"
						>Please enter a valid email address.</span
					>
				</small>
			</div>
			<div class="form-field">
				<label for="username">Username</label>
				<input
					id="username"
					formControlName="username"
					type="text"
					pInputText
				/>
				<small
					*ngIf="
						registerForm.get('username')?.invalid &&
						registerForm.get('username')?.touched
					"
					class="p-error"
				>
					<span
						*ngIf="registerForm.get('username')?.errors?.['required']"
						>Username is required.</span
					>
					<span
						*ngIf="registerForm.get('username')?.errors?.['invalidUsername']"
						>Username may only contain lowercase letters, numbers,
						and periods.</span
					>
				</small>
			</div>
			<div class="form-field">
				<label for="password">Password</label>
				<input
					id="password"
					formControlName="password"
					type="password"
					pInputText
				/>
				<small
					*ngIf="
						registerForm.get('password')?.invalid &&
						registerForm.get('password')?.touched
					"
					class="p-error"
				>
					<span
						*ngIf="registerForm.get('password')?.errors?.['required']"
						>Password is required.</span
					>
					<span
						*ngIf="registerForm.get('password')?.errors?.['weakPassword']"
						>Password must be at least 10 characters long.</span
					>
				</small>
			</div>
			<div class="form-field">
				<label for="confirmedPassword">Confirm Password</label>
				<input
					id="confirmedPassword"
					formControlName="confirmedPassword"
					type="password"
					pInputText
				/>
				<small
					*ngIf="
						registerForm.hasError('passwordMismatch') &&
						registerForm.get('confirmedPassword')?.touched
					"
					class="p-error"
					>Passwords do not match.</small
				>
			</div>
			<div class="account-prompt">
				<span>Already have an account?</span>
				<a
					[routerLink]="['/login']"
					class="create-link"
					>Sign in here.</a
				>
			</div>
			<button
				pButton
				type="submit"
				label="Sign Up"
				icon="pi pi-user-plus"
				[loading]="loading"
				[disabled]="registerForm.invalid"
			></button>
		</form>
	</div>
</div>
