<div
	class="navbar-container"
	[ngClass]="{ scrolled: isScrolled }"
>
	<div class="navbar-content">
		<!-- Left Section -->
		<div class="left-section">
			<p-autoComplete
				[(ngModel)]="selectedItem"
				[suggestions]="searchResults"
				(completeMethod)="search($event)"
				(onSelect)="onItemSelect($event)"
				[dropdown]="false"
				placeholder="Search artists or albums..."
				field="displayName"
				[showClear]="true"
				[delay]="300"
				styleClass="search-autocomplete"
			>
				<ng-template
					#item
					let-item
				>
					<div class="search-result-item">
						<img
							[src]="getItemImage(item)"
							[alt]="item.displayName"
							class="search-item-image"
						/>
						<div class="search-item-details">
							<div class="search-item-name">
								{{ item.displayName }}
							</div>
							<div class="search-item-type">{{ item.type }}</div>
							<div
								class="search-item-subtitle"
								*ngIf="item.subtitle"
							>
								{{ item.subtitle }}
							</div>
						</div>
					</div>
				</ng-template>
			</p-autoComplete>
		</div>

		<!-- Center Logo -->
		<div class="center-logo">
			<a [routerLink]="['/']">
				<img
					src="assets/logo/cadence_light_full.png"
					alt="Logo"
					class="logo-image"
				/>
			</a>
		</div>

		<!-- Right Section -->
		<div class="right-section">
			<ng-container *ngIf="isAuthenticated; else authButtons">
				<p-menu
					#menu
					[popup]="true"
					[model]="userMenuItems"
				></p-menu>
				<p-avatar
					[image]="userProfileImage"
					shape="circle"
					class="cursor-pointer"
					(click)="menu.toggle($event)"
				></p-avatar>
			</ng-container>
			<ng-template #authButtons>
				<button
					pButton
					type="button"
					label="Log In"
					icon="pi pi-sign-in"
					class="p-button-text"
					[routerLink]="['/login']"
				></button>
				<button
					pButton
					type="button"
					label="Sign Up"
					icon="pi pi-sign-in"
					class="p-button-text"
					[routerLink]="['/register']"
				></button>
			</ng-template>
		</div>
	</div>
</div>
