<div
	class="navbar-container"
	[ngClass]="{ scrolled: isScrolled }"
>
	<div class="navbar-content">
		<!-- Left Section -->
		<div class="left-section">
			<p-menubar [model]="items">
				<ng-template #start> </ng-template>
			</p-menubar>
		</div>

		<!-- Center Logo -->
		<div class="center-logo">
			<a [routerLink]="['/']">
				<img
					src="assets/logo/cadence_light_full.png"
					alt="Logo"
					class="logo-image"
				/>
			</a>
		</div>

		<!-- Right Section -->
		<div class="right-section">
			<ng-container *ngIf="isAuthenticated; else loginButton">
				<p-menu
					#menu
					[popup]="true"
					[model]="userMenuItems"
				></p-menu>
				<p-avatar
					image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
					shape="circle"
					class="cursor-pointer"
					(click)="menu.toggle($event)"
				></p-avatar>
			</ng-container>
			<ng-template #loginButton>
				<button
					pButton
					type="button"
					label="Login"
					icon="pi pi-sign-in"
					class="p-button-text"
					[routerLink]="['/login']"
				></button>
			</ng-template>
		</div>
	</div>
</div>
