<div class="login-page">
	<div class="login-card">
		<a [routerLink]="['/']">
			<img
				src="assets/logo/cadence_light_full.png"
				alt="Logo"
				class="login-logo"
			/>
		</a>

		<form
			class="login-form"
			[formGroup]="loginForm"
			(ngSubmit)="onSubmit()"
		>
			<div class="form-field">
				<label for="email">Email</label>
				<input
					id="email"
					formControlName="email"
					type="text"
					pInputText
				/>
				<small
					*ngIf="
						loginForm.get('email')?.invalid &&
						loginForm.get('email')?.touched
					"
					class="p-error"
				>
					<span *ngIf="loginForm.get('email')?.errors?.['required']"
						>Email is required.</span
					>
					<span *ngIf="loginForm.get('email')?.errors?.['email']"
						>Please enter a valid email address.</span
					>
				</small>
			</div>

			<div class="form-field">
				<label for="password">Password</label>
				<input
					id="password"
					formControlName="password"
					type="password"
					pInputText
				/>
			</div>

			<div class="account-prompt">
				<span>Don't have an account?</span>
				<a
					[routerLink]="['/register']"
					class="create-link"
					>Sign up here.</a
				>
			</div>

			<button
				pButton
				type="submit"
				label="Sign In"
				icon="pi pi-user"
				[loading]="loading"
				[disabled]="loginForm.invalid"
			></button>
		</form>
	</div>
</div>
